
  <div class="wrapper">
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse ">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a (click)="firstTempl()" class="list-group-item list-group-item-action py-2 ripple">
            <span>Find organization</span>
          </a>
          <a (click)="secondTempl()" class="list-group-item list-group-item-action py-2 ripple">
            <span>Create organization</span>
          </a>
          <a (click)="thirdTempl()" class="list-group-item list-group-item-action py-2 ripple">
            <span>My organizations</span>
          </a>
        </div>
      </div>
    </nav>

    <div class="main" [ngSwitch]="count" >
      <app-list-org  *ngSwitchCase="1"></app-list-org>
      <app-create-org *ngSwitchCase="2"></app-create-org>
      <app-list-org  *ngSwitchCase="3" [listMyOrg]="listMyOrg"></app-list-org>
    </div>


  </div>



