.card {
  box-shadow: 0 0 2px 0 white;
  transition: .3s;
  position: relative;
  cursor: pointer;


  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4px 0 white;
  }
}

.card-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text {
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  margin-top: 20px;
}

.card-footer button {
  //margin-right: 5px;
}
