<div class="main-container" style="height: 100%">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <a class="navbar-brand" [routerLink]="['/hello']">Education system</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link active" aria-current="page" [routerLink]="['/main']">Main</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" aria-current="page" routerLink="/orgs">Organizations</a>
          </li>

        </ul>

        <div class="dropdown" *ngIf="isAuthenticate()">
          <a class="nav-link" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
             aria-haspopup="true">
            <div *ngIf="user.avatar != null">
              <img src="{{'data:image/jpg;base64,' + user.avatar}}" style="width: 45px;height: 45px"
                   class="rounded-circle">
            </div>

            <div *ngIf="user.avatar == null">
              <img src="https://gravatar.com/avatar/1c0d054ee842355be78d59ec917bd7f9?s=400&d=robohash&r=x"
                   style="width: 45px;height: 45px" class="rounded-circle">
            </div>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="right: 0; left: auto">
            <li class="dropdown-item">{{user.firstName}}  {{user.lastName}}</li>
            <li><a class="dropdown-item" [routerLink]="['/profile']">My profile</a></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </div>


      </div>

    </div>
  </nav>

</div>

<router-outlet></router-outlet>
