<div class="main-container" style="height: 100%">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <a class="navbar-brand" [routerLink]="['/hello']">Education system</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link active" aria-current="page" [routerLink]="['/main']">Main</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" aria-current="page" routerLink="/orgs">Organizations</a>
          </li>

        </ul>

        <div class="d-flex">
          <a routerLink="/signup" class="btn btn-outline-primary" role="button">Sign up</a>
          <a routerLink="/login" class="btn btn-outline-secondary" role="button">Log in</a>
        </div>


      </div>

    </div>
  </nav>

</div>

<router-outlet></router-outlet>
